<html>

  <head>
    <title>OHMS Admin Panel</title>
    <link href="{{options.base_url}}/{{options.static}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{options.base_url}}/{{options.static}}/css/style.css" rel="stylesheet">

  </head>

  <body>

    <div class="span12">

    <h2>OHMS Admin Panel</h2>

    <hr/>

    <h3>Gradebook</h3>

    <p class="lead">[<a href="download_grades">Download Grades as CSV</a>] 
      [<a href="download_peer_reviews">Download Peer Assessments as CSV</a>]</p>

    <strong>How to use the Gradebook:</strong>

    <ul>
      <li>Grades are only shown for students in the class. It is recommended that you change the 
status of any user who is not enrolled in the class to "Guest".</li>
      <li>Click on the name of an assignment to view a histogram of scores for that 
assignment. This will also hide all columns except for that column, making it easier to 
enter scores.</li>
      <li>To excuse a student from an assignment, check the box next to his or her score. Then, the lost points on this assignment will not count against
	the student. You can verify this by looking at the denominator in
	the category total.</li>
      <li>Click on a student's User ID to view the system from the perspective of 
	that students. This is useful in case a student reports a problem with the 
	system, and you would like to see what they're seeing.</p>
    </ul>

    <table id="categories" class="table span4">
      <thead>
	<th>Categories</th>
	<th>Weight</th>
	<th>Drops</th>
      </thead>
      <tbody>
	{% for category in categories %}
	<tr id="{{ category.id }}">
	  <td><input type="text" class="input-medium" name="name" value="{{ category.name }}"/></td>
	  <td><input type="text" class="input-mini" name="weight" value="{{ category.weight }}"/>%</td>
	  <td><input type="text" class="input-mini" name="drops" value="{{ category.drops }}"/> <input type="button" value="Update!"/></td>
	</tr>
	{% endfor %}
	<tr id="new">
	  <td><input type="text" class="input-medium" name="name" value=""/></td>
	  <td><input type="text" class="input-mini" name="weight" value=""/>%</td>
	  <td><input type="text" class="input-mini" name="drops" value="0"/> <input type="button" value="Add!"/></td>
	</tr>
      </tbody>
    </table>

    <div align="center">
      <div id="histogram" class="span12"></div>
      <div id="missing" class="span12"></div>
      <div id="excused" class="span12"></div>
      <div id="stats" class="lead"></div>
    </div>

    <h4>Letter Grade Cutoffs</h4>

    <p>Enter the minimum percent needed for each letter grade. As you enter the 
      cutoffs, the letter grade will be automatically updated in the table below. 
      Please note that these cutoffs and letter grades are not saved. They will be 
      lost if you refresh the page.</p>

    <table class="table" id="cutoffs">
      <tr>
	<td>A+</td><td>A</td><td>A-</td>
	<td>B+</td><td>B</td><td>B-</td>
	<td>C+</td><td>C</td><td>C-</td>
	<td>D+</td><td>D</td><td>D-</td>
      </tr>
      <tr>
	<td><input type="text" class="input-mini"/></td>
	<td><input type="text" class="input-mini"/></td>
	<td><input type="text" class="input-mini"/></td>
	<td><input type="text" class="input-mini"/></td>
	<td><input type="text" class="input-mini"/></td>
	<td><input type="text" class="input-mini"/></td>
	<td><input type="text" class="input-mini"/></td>
	<td><input type="text" class="input-mini"/></td>
	<td><input type="text" class="input-mini"/></td>
	<td><input type="text" class="input-mini"/></td>
	<td><input type="text" class="input-mini"/></td>
	<td><input type="text" class="input-mini"/></td>
      </tr>
      <tr class="counts">
	<td>0</td><td>0</td><td>0</td>
	<td>0</td><td>0</td><td>0</td>
	<td>0</td><td>0</td><td>0</td>
	<td>0</td><td>0</td><td>0</td>
      </tr>
    </table>

    <div style="overflow-x: scroll;">
    <table id="gradebook" class="table table-striped">
      <thead>
	<th style="position:absolute;"></th>
	<th>User ID</th>
	<th>Student Name</th>
	<th>Type</th>
	<th>Letter</th>

	<th><a href="#" onclick="hide_all_other_columns(6)">Overall</a></th>

	{% for category in categories %}
	<th><a href="#" onclick="hide_all_other_columns({{ 6 + loop.index }})">{{ category.name }} Total</a></th>
	{% endfor %}

	{% for homework in homeworks %}
	<th><a href="#" onclick="hide_all_other_columns({{ 6 + categories|length + loop.index }})">{{ homework.name }}</a></th>
	{% endfor %}
      </thead>
      <tbody>

	<tr class="warning">
	  <td style="position:absolute;"><strike>&emsp;&emsp;&emsp;&emsp;</strike></td>
	  <td><strike>&emsp;&emsp;&emsp;&emsp;</strike></td>
	  <td><b>Maximum</b></td>
	  <td><strike>&emsp;&emsp;&emsp;&emsp;</strike></td>
	  <td></td>
	  <td value="max">
	    <input type="hidden" class="grade" value=""/>
	  </td>
	  {% for category in categories %}
	  <td value="max">
	    <input type="hidden" class="grade" value=""/>
	  </td>
	  {% endfor %}
	  {% for hw in homeworks %}
	  <td value="max" hw_id="{{ hw.id }}">
	    <input type="text" class="max input-mini" value="{{ max_scores[hw.id] }}" />
	    <input type="hidden" class="grade" value=""/>
	  </td>
	  {% endfor %}
	</tr>

	{% for student, grades in gradebook %}
        <tr stuid="{{ student.stuid }}">
	  <td style="position:absolute;"><a href="change?user={{ student.stuid }}" target="_blank">{{ student.stuid }}</a></td>
	  <td><a href="change?user={{ student.stuid }}">{{ student.stuid }}</a></td>
	  <td><div style="width:10em;"/>{{ student.name }}</td>
	  <td style="white-space:nowrap;">
	    <form target="_blank" action="change_user_type" method="POST">
	      <input type="hidden" name="user" value="{{ student.stuid }}" />
	      <select name="type" class="input-small">
		<option value="student" selected>Student</option>
		<option value="guest">Guest</option>
		<option value="admin">Admin</option>
	      </select>
	      <input type="submit" value="Update!" />
	    </form>
	  </td>

	  <td class="letter"></td>
	  <td class="overall">{{ grades["overall"]|round(1) }}%
	    <input type="hidden" class="grade" value="{{ grades['overall']|round(3) }}"/>
	  </td>

	  {% for category in categories %}
	  <td>{{ grades[category.name] }}
	    <input type="hidden" class="grade" value="{{ grades[category.name] }}"/>
	  </td>
	  {% endfor %}
	  {% for hw in homeworks %}
	  <td hw_id="{{ hw.id }}">
	    <input type="text" class="grade" style="width: 40px; height: 30px;" 
		   value="{% if hw.id in grades %}{{ grades[hw.id].score }}{% endif %}" 
		   {% if hw.questions|length %}disabled{% endif %} />
	    <input type="checkbox" class="excused" {% if hw.id in grades and grades[hw.id].excused %}checked{% endif %}/>
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </tbody>
    </table>
    </div>

    <hr/>

    <h3>Other Users</h3>

    <div style="height:500px; overflow:scroll;">
    <table class="table">
      <thead>
	<th>User ID</th>
	<th>Guests</th>
	<th>Actions</th>
      </thead>
      {% for guest in guests %}
        <tr>
	  <td><a href="change?user={{ guest.stuid }}">{{ guest.stuid }}</a></td>
	  <td>{{ guest.name }}</td>
	  <form target="_blank" action="change_user_type" method="POST">
	  <td>
	    <input type="hidden" name="user" value="{{ guest.stuid }}" />
	    <select name="type" class="input-small">
	      <option value="student">Student</option>
	      <option value="guest" selected>Guest</option>
	      <option value="admin">Admin</option>
	    </select>
	    <input type="submit" value="Update!" />
	  </td>
	  </form>
	</tr>
      {% endfor %}
    </table>
    </div>

    <table class="table">
      <thead>
	<th>User ID</th>
	<th>Admins</th>
	<th>Actions</th>
      </thead>
      {% for admin in admins %}
        <tr>
	  <td><a href="change?user={{ admin.stuid }}">{{ admin.stuid }}</a></td>
	  <td>{{ admin.name }}</td>
	  <form target="_blank" action="change_user_type" method="POST">
	  <td>
	    <input type="hidden" name="user" value="{{ admin.stuid }}" />
	    <select name="type" class="input-small">
	      <option value="student">Student</option>
	      <option value="guest">Guest</option>
	      <option value="admin" selected>Admin</option>
	    </select>
	    <input type="submit" value="Update!" />
	  </td>
	  </form>
	</tr>
      {% endfor %}
    </table>

    </div>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/admin/index.js"></script>

  </body>

</html>
