<html>

  <head>
    <title>View Peer Comments</title>
    <link href="{{options.static}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{options.static}}/css/style.css" rel="stylesheet">
  </head>

  <body class='span12'>

    <h3>View Peer Comments</h3>

    <table class='table'>
      {% for grade in question_grades %}
      <tr>
	<td class='span2'>
	  {{ grade.grading_task.grader }}
	</td>
	<td class='span2'>
	  {{ grade.score }}
	</td>
	<td class='span6' style="white-space: pre-wrap">
	  {{ grade.comments }}
	</td>
      </tr>
      {% endfor %}
    </table>

  </body>

</html>
