<html>

  <head>
    <title>Viewing Student Responses</title>
    <link href="{{options.static}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{options.static}}/css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class='span12'>

    <h3>Viewing Student Responses</h3>

    <p class='lead'>Showing {{ user_responses|length }} Responses from Groups {{ groups|join(', ') }}</p>

    <table class='table'>
      {% for user_response in user_responses %}
      <tr>
	<td class='span2'>  
	  <p>{{ user_response[0].name }}</p>
	  <p><tt>{{ user_response[1].sunet }}</tt></p>
	  <p>{{ user_response[1].time }}</p>
	</td><td class='span5'>
	  <ul>
	  {% for item_response in user_response[1].item_responses %}
	  <li><div style="white-space: pre-wrap">{{ item_response.response }}</div></li>
	  {% endfor %}
	  </ul>
	</td><td class='span5'>
	  <form method='POST' action='update_response/{{ user_response[1].id }}' target='_blank'>
	    <table>
	      <tr>
		<td><b>Score:</b></td>
		<td>{{ user_response[1].score }}</td>
		<td><input class='input-mini' name='score' type='text'/></td>
	      </tr>
	      <tr>
		<td colspan="2"><b>Comments:</b><br/>
		{{ user_response[1].comments|safe }}</td>
		<td><textarea name='comments' rows="5"></textarea></td>
	      </tr>
	      <tr>
		<td colspan=2></td>
		<td align='right'><input type='submit'/></td>
	      </tr>
	    </table>
	  </form>
      </td></tr>
      {% endfor %}
    </table>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  </body>

</html>
