<html>

  <head>
    <title>Viewing Student Responses</title>
    <link href="{{options.base_url}}/{{options.static}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{options.base_url}}/{{options.static}}/css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

    <h3>Viewing Student Responses</h3>

    <p class='lead'>Showing {{ responses|length }} Responses</p>

    <table class='table'>
      {% for response in responses %}
      <tr>
	<td class='span1'>  
	  <p>{{ response.user.name }}</p>
	  <p><tt>{{ response.stuid }}</tt></p>
	  <p>{{ response.time }}</p>
	</td><td class='span5'>
	  <div class="response">
	    \( \) <!-- This avoids some horrible MathJax bug that I don't understand....  !-->
	    <ul>
	      {% for item_response in response.item_responses %}
	      <li>
		{{ item_response.response|safe }}
	      </li>
	  {% endfor %}
	    </ul>
	  </div>
	</td><td class='span6' {% if response.score != None %}style='background-color:#dff0d8;'{% endif %}>
	  <div class="grading" id='{{ response.id }}'>
	    <table>
	      <tr>
		<td><b>Score:</b></td>
		<td class='score'>{{ response.score }}</td>
		<td><input class='input-mini' name='score' type='text'/></td>
	      </tr>
	      <tr>
		<td colspan="2"><b>Comments:</b>
		<div class='comments' style="white-space: pre-wrap;">{{ response.comments|safe }}</div></td>
		<td><textarea name='comments' rows="5"></textarea></td>
	      </tr>
	      <tr>
		<td colspan=2></td>
		<td align='right'>
		  <button class='submit'>Update</button>
		</td>
	      </tr>
	    </table>
	  </div>
      </td></tr>
      {% endfor %}
    </table>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/namespace.js"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/admin/view_responses.js"></script>
    </script>


  </body>

</html>
