table.frame {
    border:0px;
    margin-top:5px;
}

table.frame td {
    vertical-align: top;
}

input {
    margin-bottom:0;
}

ol.ohms-ol {
    list-style-type: lower-alpha;
}

ol.ohms-ol ol.ohms-ol {
    list-style-type: lower-roman;
}

.score {
    font-weight : bold;
}

.time {
    font-size : small;
}

.response {
    background-color:#e0e0e0;
    padding: 10px;
}

.error {
    position:fixed;
    height:300px;
    width:600px;
    left:50%;
    top:50%;
    overflow:auto;
    margin-top:-200px;
    margin-left:-250px;
}

#tinymce .mceContentBody p {
    font-size : normal;
    white-space: pre-wrap;
}