<html>

  <head>
    <title>Select Sampling Responses</title>
    <link href="{{options.static}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{options.static}}/css/style.css" rel="stylesheet">
  </head>

  <body class='span12'>

    <h3>Select Sample Responses</h3>

    <table class='table'>
      {% for response in responses %}
      <tr><td class='span8'>
	  <div style="white-space: pre-wrap">{{ response.item_responses[0].response }}</div>
	</td><td class='span4'>
	  <form method='POST' action='admin/submit/{{ response.id }}'>
	    <table style="border-top: none;">
	      <tr>
		<td>Score:</td>
		<td><input class='input-mini' name='score' type='text'/></td>
	      </tr>
	      <tr>
		<td>Comments:</td>
		<td><textarea name='comments'></textarea></td>
	      </tr>
	      <tr>
		<td colspan=2><input type='submit'/></td>
	      </tr>
	    </table>
	  </form>
      </td></tr>
      {% endfor %}
    </table>

  </body>

</html>
