{% extends "page.html" %}

{% block content %}
<h3>Online Homework Management System (OHMS)</h3>

<h3 id="homework_name"></h3>

{% if user.type == "admin" %}
<p>The following button will take the collection of responses and 
assign them to students to be peer graded. Click this button soon 
after the homework is due.
  <form action="../admin.cgi/assign_tasks/{{ hw_id }}" method="POST">
    Due Date: <input type="text" name="due_date"/> 
    <input type="submit" value="Assign Tasks!"/>
  </form>
</p>

<p>The following button will calculate students' scores and 
create a link for students to view and rate the comments. Then 
it will send out an e-mail to the students announcing the 
availability of the peer feedback. Click 
this button soon after the peer grading is due.</p>
  <form action="../admin.cgi/tabulate_grades/{{ hw_id }}" method="POST">
    <input type="submit" value="Tabulate Grades!">
  </form>
</p>

<p>This button sends an e-mail to the students who have not 
completed their peer grading task yet.
  <form action="../admin.cgi/reminder_email/{{ hw_id }}" method="POST">
    <textarea name="message">
You are receiving this e-mail because you were assigned to peer grading 
this week and have not yet completed it. This is a reminder that 
peer grading is due Tuesday at 5 P.M. Since peer grading counts the same 
amount as the homework toward your course grade, please ensure that you 
finish the peer grading before this deadline.
    </textarea>
    <input type="submit" value="Send Reminder Email!">
  </form>
</p>
{% endif %}

<hr/>

{% if not questions %}
No responses to peer grade at the moment. Please check back again later.
{% endif %}

{% for q in questions %}

<h3>Peer Grading Item #{{loop.index}}</h3>

<p><strong>Shown below is the question to be graded, along with your 
response and the correct solution.</strong></p>

<div class='question' id='q{{q.question.id}}' points='{{q.question.points}}'>

  <table class='frame'>
    <tr><td class='body'>
	{{q.question|safe}}
    </td></tr>
  </table>

</div>

  {% if q.permission == 0 %}
  <div class='question' id='s{{q.question.id}}'>
  {% endif %}
  <table>
    <tr>
      <td>
	  {% if q.permission == 1 %}
	    <h4>Step 2. Peer Grading</h4>

	    Please score the following responses from your peers. You 
	    should provide detailed comments, even if the response is perfect. 
	    In the case of a perfect response, you should reiterate what 
            the student did well.
	  {% else %}
	    <h4>Step 1. Calibration</h4>

	    Before you grade responses from your peers, we want 
	    to make sure everyone is using the same standards. 
	    The following 
	    responses have been scored by an instructor. You must 
	    match the instructor's score. Once you do so, 
            the student responses will be shown.
	  {% endif %}
      </td>
    </tr>
    {% for task in q.tasks %}
    <tr>
      <td>
	
	{% if q.permission == 1 %}
	<div class='question' id='g{{task.id}}'>
	{% endif %}
	
        <table class='table table-condensed'>
	  <tr>
	    <td class='span2'><strong>Response {{loop.index}}</strong></td>
	    <td class='span5' style="white-space: pre-wrap;">{{task.question_response}}</td>
	  </tr>
	  <tr class='info'>
	    <td><strong>Score</strong></td>
	    <td>
	      <input type='text' class='item input-mini' itemtype='short-answer' disabled='disabled'/> 
	      out of {{q.question.points}} points
	    </td>
	  </tr>
	  <tr class='info'>
	    <td><strong>Comments</strong></td>
	    <td>
	      {% if q.permission == 1 %}
	      <textarea class='item span5' itemtype='long-answer' disabled='disabled'></textarea>
	      {% else %}
	      <div class='comments'>
		   <i>You will have to provide comments for your peers, but 
		     not for these sample responses.</i>
	      </div>
	      {% endif %}
	    </td>
	  </tr>
	  {% if q.permission == 1 %}
	  <tr>
	    <td></td>
	    <td><button class='submit' disabled>Submit Grades</button>&nbsp; <span class='time'></span></td>
	  </tr>
	  {% endif %}
	</table>
	
	{% if q.permission == 1 %}
	</div>
	{% endif %}
      </td>
    </tr>
    {% endfor %}
    {% if q.permission == 0 %}
    <tr>
      <td>
	<button class='submit' disabled>Submit Grades</button>
      </td>
    </tr>
    <tr>
      <td class='alert'>
	<strong>Feedback:</strong>
	<p class='comments'></p>
      </td>
    </tr>
    {% endif %}
  </table>

  {% if q.permission == 0 %}
  </div>
  {% endif %}

<hr/>
{% endfor %}

{% endblock %}

