{% extends "page.html" %}

{% block content %}
<h3>Online Homework Management System (OHMS)</h3>

<h3 id="homework_name"></h3>

{% if user.type == "admin" %}
<p>This takes the collection of responses in the selected groups, 
and assigns them to those students for peer assessment. It 
sends an e-mail to the students notifying them that the peer 
assessment is available. 
  <form action="../admin.cgi/assign_tasks/{{ homework.id }}" method="POST">

    <table>
      <tr>
	<td width='25%'><input type="checkbox" name="group" value="0"/>0</input></td>
	<td width='25%'><input type="checkbox" name="group" value="1"/>1</input></td>
	<td width='25%'><input type="checkbox" name="group" value="2"/>2</input></td>
	<td width='25%'><input type="checkbox" name="group" value="3"/>3</input></td>
      </tr>

      <tr>
	<td colspan='1'>Due Date:</td>
	<td colspan='3'><input type="text" name="due_date" value="2014-01-01 09:00:00"/></td>
      </tr>

      <tr>
	<td colspan='4'><input type="submit" value="Assign Tasks!"/></td>
      </tr>
    </table>

  </form>
</p>

<p>This button sends a reminder e-mail to the students who have not 
completed their peer assessment task yet.
  <form action="../admin.cgi/reminder_email/{{ homework.id }}" method="POST">

    <table>

      <tr>
	<td>Subject</td>
	<td><input type="text" class="input-xlarge" name="subject" value="{{ homework.name }} Peer Assessment Incomplete"/></td>
      </tr>

      <tr>
	<td>Body</td>
	<td>
	  <textarea name="message" class="span8" rows="7">
You are receiving this e-mail because you were assigned to peer 
assessment this week and have not yet completed it. This is a 
reminder that peer assessment is due Tuesday at 9 AM.

Please note that each student will complete 4 peer assessment 
tasks which count for 10% of the final grade. This means that 
each peer assessment task counts for 2.5% of the final grade. 
The difference between doing peer assessment and not doing it 
is the difference between a C and an A on a quiz! Please do 
not lose these easy points.</textarea>
	</td>
      </tr>

      <tr>
	<td></td>
	<td><input type="submit" value="Send Reminder Email!"></td>
      </tr>

    </table>
  </form>
</p>
{% endif %}

<hr/>

{% if not questions %}
No responses to peer assess at the moment. Please check back again later.
{% endif %}

{% for q in questions %}

<h3>Peer Assessment Item {{loop.index}}</h3>

<p><strong>Shown below is the question to be assessed, along with your 
response and the correct solution.</strong></p>

<div class='question' id='q{{q.question.id}}' points='{{q.question.points}}'>

  <table class='frame'>
    <tr><td class='body'>
	{{q.question|safe}}
    </td></tr>
  </table>

</div>

  {% if q.permission == 0 %}
  <div class='question' id='s{{q.question.id}}'>
  {% endif %}
  <table>
    <tr>
      <td>
	  {% if q.permission == 1 %}
	    <h4>Peer Assessment</h4>

	    Please score the following responses from your peers. You 
	    should provide detailed comments, even if the response is perfect. 
	    In the case of a perfect response, you should reiterate what 
            the student did well.
	  {% else %}
	    <h4>Calibration</h4>

	    Before you assess responses from your peers, we want 
	    to make sure everyone is using the same standards. 
	    The following 
	    responses have been scored by an instructor. You must 
	    match the instructor's score. Once you do so, 
            the student responses will be shown.
	  {% endif %}
      </td>
    </tr>
    {% for task in q.tasks %}
    <tr>
      <td>
	
	{% if q.permission == 1 %}
	<div class='question' id='g{{task.id}}'>
	{% endif %}
	
	
	{% if q.permission == 1 %}
	</div>
	{% endif %}
      </td>
    </tr>
    {% endfor %}
    {% if q.permission == 0 %}
    <tr>
      <td>
	<button class='submit' disabled>Submit Assessment</button>
      </td>
    </tr>
    <tr>
      <td class='alert'>
	<strong>Feedback:</strong>
	<p class='comments'></p>
      </td>
    </tr>
    {% endif %}
  </table>

  {% if q.permission == 0 %}
  </div>
  {% endif %}

<hr/>
{% endfor %}

{% endblock %}

