{% extends "page.html" %}

{% block content %}
<h3>Online Homework Management System (OHMS)</h3>

<p id="studentName" class="lead">You are logged in as 
  <strong>{{user.name}}</strong>.
</p>

<h3 id="homework_name"></h3>

<hr/>

{% if not questions %}
No responses to peer grade at the moment. Please check back again later.
{% endif %}

{% for q in questions %}

<h3>Peer Grading Item #{{loop.index}}</h3>

<p>Shown in the box below is the question to be graded, along with your 
response and the correct solution.</p>

<div class='alert'>
<div class='question' id='q{{q.question.id}}' points='{{q.question.points}}'>

  <table class='frame'>
    <tr><td class='body'>
	{{q.question|safe}}
    </td></tr>
  </table>

</div>
</div>

  {% if q.permission == 0 %}
  <div class='question' id='s{{q.question.id}}'>
  {% endif %}
  <table>
    <tr>
      <td>
	  {% if q.permission == 1 %}
	    <h4>Step 2. Peer Grading</h4>

	    Please score the following responses from your peers. You 
	    should provide detailed comments, even if the response is perfect. 
	    In the case of a perfect response, you should reiterate what 
            the student did well.
	  {% else %}
	    <h4>Step 1. Calibration</h4>

	    Before you grade responses from your peers, we want 
	    to make sure everyone is using the same standards. 
	    The following 
	    responses have been scored by an instructor. You must 
	    match the instructor's score. Once you do so, 
            the student responses will be shown.
	  {% endif %}
      </td>
    </tr>
    {% for task in q.tasks %}
    <tr>
      <td>
	
	{% if q.permission == 1 %}
	<div class='question' id='g{{task.id}}'>
	{% endif %}
	
        <table>
	  <tr>
	    <td class='span2'><strong>Response {{loop.index}}</strong></td>
	    <td class='span5'>{{task.question_response}}</td>
	  </tr>
	  <tr>
	    <td><strong>Score</strong></td>
	    <td>
	      <input type='text' class='item input-mini' itemtype='short-answer' disabled='disabled'/> 
	      out of {{q.question.points}} points
	    </td>
	  </tr>
	  <tr>
	    <td><strong>Comments</strong></td>
	    <td>
	      {% if q.permission == 1 %}
	      <textarea class='item span5' itemtype='long-answer' disabled='disabled'></textarea>
	      {% else %}
	      <i>You will have to provide comments for your peers, but 
		not for these sample responses.</i>
	      {% endif %}
	    </td>
	  </tr>
	  {% if q.permission == 1 %}
	  <tr>
	    <td></td>
	    <td><button class='submit' disabled>Submit Grades</button>&nbsp; <span class='time'></span></td>
	  </tr>
	  {% endif %}
	</table>
	
	{% if q.permission == 1 %}
	</div>
	{% endif %}
      </td>
    </tr>
    {% endfor %}
    {% if q.permission == 0 %}
    <tr>
      <td>
	<button class='submit' disabled>Submit Grades</button>
	<p class='comments'></p>
      </td>
    </tr>
    {% endif %}
  </table>

  {% if q.permission == 0 %}
  </div>
  {% endif %}

<hr/>
{% endfor %}

</div>
{% endblock %}

{% block javascript %}
<!--<script src="../../js/jquery-1.7.1.min.js"></script>!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/2.2-latest/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
<script src="{{options.static}}/js/bootstrap.min.js"></script>
<script src="{{options.static}}/js/namespace.js"></script>
<script src="{{options.static}}/js/item.js?V=1"></script>
<script src="{{options.static}}/js/homework.js?V=1"></script>
<script src="{{options.static}}/js/question.js?V=1"></script>
<script src="{{options.static}}/js/multiplechoiceitem.js?V=1"></script>
<script src="{{options.static}}/js/shortansweritem.js?V=1"></script>
<script src="{{options.static}}/js/longansweritem.js?V=1"></script>
<script src="{{options.static}}/js/hw.js?V=1"></script>
{% endblock %}
