{% extends "page.html" %}

{% block content %}
<h3>Grades</h3>

  {% for category in categories %}

  <table class="table table-striped" id="homeworks">
    <thead>
      <th>{{ category.name }} ({{ category.weight }}% of course grade)</th>
      <th>Date</th>
      <th>Score</th>
    </thead>
    <tbody>
      {% for hw in category.homeworks %}
      <tr>
	<td>{{ hw.name }}</td>
	<td>{{ hw.due_date.strftime("%Y-%m-%d") }}</td>
	<td>
	  {% if grades[hw.id] %}
	    {% if grades[hw.id].excused %}Excused
	    {% else %}{{ grades[hw.id].score }} / {{ max_scores[hw.id] }}
	    {% endif %}
	  {% endif %}
	</td>
      </tr>
      {% endfor %}

      <tr class="warning">
	<td><b>Overall</b>
	  {% if category.drops == 1 %}(lowest score dropped)
	  {% elif category.drops > 1 %}(lowest {{ category.drops }} scores
	  dropped)
	  {% endif %}
	<td></td>
	<td>{{ grades[category.name] }}</td>
      </tr>

    </tbody>
  </table>
  {% endfor %}

{% endblock %}
