{% extends "page.html" %}

{% block content %}
<h3>Grading</h3>

<ul>

  <li><b>Homework: 10%</b></li>
  <li><b>Peer Grading: 10%</b>
    <ul>
      <li>4% for completing the peer reviews.</li>
      <li>2% for completing the rating.</li>
      <li>4% for quality of the reviews. This is subjective, but we will glance at the comments you provided, 
	and take into account students' ratings of your comments and the accuracy of your scores. To measure accuracy, 
	we will fit a statistical model to the peer grades at the end of the quarter. Don't worry too much about this; 
      if you are reasonably diligent about your peer reviews, you should earn at least 3% and probably 4%.</li>
    </ul>
  </li>
  <li><b>Quizzes: 40%</b>
    <ul>
      <li>We don't want to foster competition, so the grades will not be "curved". (That is, 
      we don't want to say 30% will get A's, 40% B's, and so on. If the whole class does well, then everyone can earn an A.)</li>
      <li>However, the grades will be adjusted upwards as follows: we will determine a 
	mastery score $M$ for each quiz. If you earn at least this score, then we consider 
	you to have fully mastered the material and deserving of a solid A (not an A-). 
	All other grades will be 
	adjusted accordingly. The mastery score for the quizzes are:
	<ul>
	  <li>Quiz 1: $M=32$ out of 36</li>
	  <li>Quiz 2: $M=35$ out of 42</li>
	  <li>Quiz 3: $M=30$ out of 42</li>
	  <li>Quiz 4: $M=27$ out of 36</li>
	  <li>Quiz 5: $M=30$ out of 36</li>
	</ul>
      </li>
    </ul>
  </li>
  <li><b>Final: 40%</b></li>

</ul>

{% endblock %}
