{% extends "page.html" %}

{% block content %}
<h3>Online Homework Management System (OHMS)</h3>

<div id="homework">

<h3 id="homework_name">{{ homework.name }} (Due: {{
  homework.due_date.strftime("%a, %b %d at %I:%M %p") }} PST)</h3>

<div id="homework_text"></div>

<hr/>

{% for q in homework.questions %}

<div class='question' id='{{q.id}}' points='{{q.points}}'>
  <h3 class='questionName'>Question {{loop.index}}
{% if q.name %}
: {{q.name|safe}}
{% endif %}  
{% if user.type == "admin" %}
    <span class='lead'>[<a href='view_responses?q={{ q.id }}'>View Student Responses</a>]</span>
{% endif %}
  </h3>

  <table class='frame'>
    <tr><td class='score'><strong>This problem is worth {{q.points}} points.</strong></td></tr>
    <tr><td class='alert'><h5>Comments:</h5> <p class='comments' style="white-space: pre-wrap"></p></td></tr>
    <tr><td class='body'>
	{% if user.type == "admin" %}
	<textarea class="source span8" style="display:none;" rows="30">{{q.xml}}</textarea>
	<div class="editable">
	{% endif %}
	{{q|safe}}
	{% if user.type == "admin" %}
	</div>
	{% endif %}
    </td></tr>
  </table>

  <button class='submit' disabled>Submit Response</button>&nbsp; <span class='time'></span>
</div>

<hr/>
{% endfor %}


{% if user.type == "admin" %}
<h3>Add a Question</h3>
<form action="add_question" method="POST">

  <p>Enter XML source code here.</p>

  <input type="hidden" name="hw_id" value={{ homework.id }} />
  <textarea class="span8" name="xml" rows="4"><question></question></textarea>

  <p><input type="submit" value="Add Question!"/></p>

</form>

<h4>(Add a Peer Review)</h4>
<p>This form will generate the necessary XML for a peer review question. When you click the 
"Generate XML" button, the XML will appear in the box above.</p>
<div id="peer_review_form">
  <table class="table">
    <tr>
      <td>ID of question to be peer-reviewed.</td>
      <td>
	<select name="question_id">
	  {% for q in question_list %}
	  <option value="{{ q.id }}">{{ q.id }} ({{ q.homework.name }})</option>
	  {% endfor %}
	</select>
      </td>
    </tr>
    <tr>
      <td>Number of peer reviews</td>
      <td><input type="text" value="3" name="n_reviews"/></td>
    </tr>
    <tr>
      <td>Points per peer review</td>
      <td><input type="text" value="2" name="peer_points"/></td>
    </tr>
    <tr>
      <td>Self review?</td>
      <td><input type="checkbox" name="self"/> Yes</td>
    </tr>
    <tr>
      <td>Points for self review</td>
      <td><input type="text" value="1" name="self_points"/></td>
    </tr>
    <tr>
      <td>Points for ratings of reviews</td>
      <td><input type="text" value="3" name="rate_points"/></td>
    </tr>
  </table>

  <button id="add_peer_review">Generate XML</button>
</div>
{% endif %}

</div>
{% endblock %}

{% block javascript %}
    <script src="https://tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/item.js?V=1"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/homework.js?V=1"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/question.js?V=1"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/multiplechoiceitem.js?V=1"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/shortansweritem.js?V=1"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/longansweritem.js?V=1"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/hw.js?V=1"></script>
{% if user.type == 'admin' %}
    <script type="text/javascript">
var textbox = $("textarea[name=xml]");
textbox.focus( function () { $(this).attr('rows', '20'); } );
textbox.blur( function () { $(this).attr('rows', '4'); });
$("#add_peer_review").click( function () {
  var form = $(this).parents("div#peer_review_form").eq(0);
  console.log(form);
  var question_id = form.find("select[name=question_id]").val();

  // start creating XML string
  var xml = "<question review='true' question_id='" + question_id + "'>\n";

  // determine number of reviews and points per peer review
  var n_reviews = parseInt(form.find("input[name=n_reviews]").val());
  var peer_points = parseFloat(form.find("input[name=peer_points]").val());
  for (var i=1; i<=n_reviews; i++) {
    xml += "  <peer points='" + peer_points + "' />\n";
  }

  // determine if self review and points per self review  
  if (form.find("input[name=self]").attr("checked")) {
    var self_points = parseFloat(form.find("input[name=self_points]").val());
    xml += "  <self points='" + self_points + "' />\n";
  }

  // determine points that should be awarded for students' ratings of responses
  var rate_points = parseFloat(form.find("input[name=rate_points]").val());
  xml += "  <rate points='" + rate_points + "' />\n";

  xml += "</question>";

  textbox.val(xml);
})
    </script>
{% endif %}
{% endblock %}
