{% extends "page.html" %}

{% block content %}
<h3>Online Homework Management System (OHMS)</h3>

<div id="homework">

<h3 id="homework_name">{{ homework.name }} (Due: {{
  homework.due_date.strftime("%a, %b %d at %I:%M %p") }} PST)</h3>

<div id="homework_text"></div>

<hr/>

{% for q in homework.questions %}

<div class='question' id='{{q.id}}' points='{{q.points}}'>
  <h3 class='questionName'>Question {{loop.index}}
{% if q.name %}
: {{q.name|safe}}
{% endif %}
  </h3>

  {% if user.type == "admin" %}
  <form action="../admin.cgi/view_responses?q={{ q.id }}" method="POST">
    <p><strong>Please check the groups which you would like to grade.</strong></p>
    <table>
      <tr>
	<td width='15%'><input type="checkbox" name="group" value="0"/>0</input></td>
	<td width='15%'><input type="checkbox" name="group" value="1"/>1</input></td>
	<td width='15%'><input type="checkbox" name="group" value="2"/>2</input></td>
	<td width='15%'><input type="checkbox" name="group" value="3"/>3</input></td>
	<td width='40%'><input type="submit" value="View Student Responses"/></td>
      </tr>
    </table>
  </form>
  {% endif %}

  <table class='frame'>
    <tr><td class='score'><strong>This problem is worth {{q.points}} points.</strong></td></tr>
    <tr><td class='alert'><h5>Comments:</h5> <p class='comments' style="white-space: pre-wrap"></p></td></tr>
    <tr><td class='body'>
	{% if user.type == "admin" %}
	<textarea class="source span8" style="display:none;" rows="50">{{q.xml}}</textarea>
	<div class="editable">
	{% endif %}
	{{q|safe}}
	{% if user.type == "admin" %}
	</div>
	{% endif %}
    </td></tr>
  </table>

  <button class='submit' disabled>Submit Response</button>&nbsp; <span class='time'></span>
</div>

<hr/>
{% endfor %}

</div>
{% endblock %}

