{% extends "page.html" %}

{% block content %}
<h3>Online Homework Management System (OHMS)</h3>

<div id="homework">

<h3 id="homework_name">{{ homework.name }} (Due: {{
  homework.due_date.strftime("%a, %b %d at %I:%M %p") }} PST)</h3>

<div id="homework_text"></div>

<hr/>

{% for q in homework.questions %}

<div class='question' id='{{q.id}}' points='{{q.points}}'>
  <h3 class='questionName'>Question {{loop.index}}
{% if q.name %}
: {{q.name|safe}}
{% endif %}  
{% if user.type == "admin" %}
    <span class='lead'>[<a href='view_responses?q={{ q.id }}'>View Student Responses</a>]</span>
    <form method="POST" action="move_question">
      <span class='lead'>[Move Question to Homework: 
	<input type="hidden" name="q_id" value="{{ q.id }}" />
	<select name="hw_id">
	  {% for hw in hw_list %}
	  <option value="{{ hw.id }}" {% if hw.id == homework.id %}selected="selected"{% endif %}>{{ hw.name }}</option>
	  {% endfor %}
	  <option value="0">Delete this question!</option>
	</select>
	<input type="submit" value="Go!"/>]
      </span>
    </form>
{% endif %}
  </h3>

  <table class='frame'>
    <tr><td class='score'><strong>This problem is worth {{q.points}} points.</strong></td></tr>
    <tr><td class='alert'><h5>Comments:</h5> <p class='comments' style="white-space: pre-wrap"></p></td></tr>
    <tr><td class='body'>
	{% if user.type == "admin" %}
	<textarea class="source span8" style="display:none;" rows="30">{{q.xml}}</textarea>
	<div class="editable">
	{% endif %}
	{{q|safe}}
	{% if user.type == "admin" %}
	</div>
	{% endif %}
    </td></tr>
  </table>

  <button class='submit' disabled>Submit Response</button>&nbsp; <span class='time'></span>
</div>

<hr/>
{% endfor %}


{% if user.type == "admin" %}
<h3>Add a Question</h3>
<div>

  <p>Enter XML source code here. Note that any question or item ID tags will be ignored. (If you are adding a peer review, you may find it easier 
     to use the form below.)</p>

  <input type="hidden" name="hw_id" value={{ homework.id }} />
  <textarea class="span8" name="xml" id="xml_code" rows="4"><question name="Example Question">

  <item type="Multiple Choice" points="2">
    <option correct="true">the right answer</option>
    <option>some other answer</option>
  </item>

  <item type="Short Answer" points="2">
    <answer type="range">[0.2, 0.3]</answer>
    <answer type="exact">0.25</answer>
    <answer type="expression">(.5)^2</answer>
  </item>

  <item type="Long Answer" points="6">
    <solution>
      The solution to the problem goes in here.
    </solution>
  </item>

</question></textarea>

  <p><button id="add_question">Add Question!</button></p>

</div>

<h4>Add a Peer Review</h4>
<p>This form will generate the necessary XML for a peer review question. When you click the 
"Generate XML" button, the XML will appear in the box above.</p>
<div id="peer_review_form">
  <table class="table">
    <tr>
      <td colspan="2"><b>ID of question to be reviewed</b></td>
      <td colspan="4">
	<select name="question_id">
	  {% for q in question_list %}
	  <option value="{{ q.id }}">{{ q.homework.name }}: {{ q.name }} (ID: {{ q.id }})</option>
	  {% endfor %}
	</select>
      </td>
    </tr>
    <tr>
      <td><b>Peer Reviews</b></td>
      <td class="span2">How many peers should each student grade?</td>
      <td><input type="text" class="input-small formelt" value="3" name="n_reviews"/></td>
      <td>Points each:</td>
      <td><input type="text" class="input-small formelt" value="2" name="peer_points"/></td>
    </tr>
    <tr>
      <td><b>Self Review</b></td>
      <td></td>
      <td><input type="checkbox" class="formelt" name="self" checked="checked"/> Include</td>
      <td>Points:</td>
      <td><input type="text" class="input-small formelt" value="1" name="self_points"/></td>
    </tr>
    <tr>
      <td colspan="3" class="span5"><b>Ratings of Reviews</b> (Students are required to rate the feedback that they receive. These ratings can be used to measure the "quality" of a grader's reviews. This specifies how much to make these ratings worth.)</td>
      <td>Points:</td>
      <td><input type="text" class="input-small formelt" value="3" name="rate_points"/></td>
    </tr>
    <tr>
      <td colspan="3"><button id="add_peer_review">Generate XML</button> (The XML will appear in the box above.)</td>
      <td>Total Points:</td>
      <td><input type="text" class="input-small" name="total_points" disabled="disabled" /></td>
    </tr>
  </table>
</div>
{% endif %}

</div>
{% endblock %}

{% block javascript %}
{% if user.type == 'admin' %}
    <script src="{{options.base_url}}/{{options.static}}/js/codemirror/codemirror.js"></script>
    <link rel="stylesheet" href="{{options.base_url}}/{{options.static}}/js/codemirror/codemirror.css" />
    <script src="{{options.base_url}}/{{options.static}}/js/codemirror/xml.js"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/admin/hw.js?V=1"></script>
{% endif %}
    <script src="https://tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/item.js?V=1"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/homework.js?V=1"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/question.js?V=1"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/multiplechoiceitem.js?V=1"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/shortansweritem.js?V=1"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/longansweritem.js?V=1"></script>
    <script src="{{options.base_url}}/{{options.static}}/js/hw.js?V=1"></script>
{% endblock %}
