{% extends "page.html" %}

{% block content %}
<h3>Online Homework Management System (OHMS)</h3>

{% if to_do %}
<div class='alert alert-error'>
<p><strong>Attention!</strong> To encourage you to look over the 
comments your peers have written for you, we require that you 
provide some feedback on the peer reviews. Our records indicate 
that you have yet to respond to:
<ul>
  {% for homework, number in to_do.iteritems() %}
  <li>{{ number }} review(s) in <a href="hw?id={{ homework.id }}">{{ homework.name }}</a></li>
  {% endfor %}
</ul>
<p>Please look over this feedback as soon as possible.</p>
</div>
{% endif %}

<table class="table table-striped" id="homeworks">
  <thead>
    <th>Homework</th>
    <th>Start Date</th>
    <th>Due Date</th>
  </thead>
  <tbody>

  {% for hw in homeworks %}

  <tr>
    <form action="{{options.base_url}}/{{options.cgi}}/update_due_date" method="POST">
      <input type="hidden" name="hw_id" value='{{ hw.id }}'>
      <td>
	{% if hw.start_date==None or hw.start_date < current_time %}
          <a href="{{options.base_url}}/{{options.cgi}}/hw?id={{hw.id}}">{{hw.name}}</a>
	{% else %}
          <p class="muted">{{hw.name}}</p>
	  {% if user.type=="admin" %}
	  (<a href="{{options.base_url}}/{{options.cgi}}/hw?id={{hw.id}}">Preview</a>)
	  {% endif %}
        {% endif %}
      </td>
      <td>
        {% if user.type == "admin" %}
          <input type="text" name="start_date" value='{% if hw.start_date %}{{ hw.start_date.strftime("%m/%d/%Y %H:%M:%S") }}{% endif %}'/>
        {% elif hw.start_date %}
          {{hw.start_date.strftime("%a, %b %d at %I:%M %p")}}
        {% endif %}
      </td>
      <td>
        {% if user.type == "admin" %}
          <input type="text" name="due_date" value='{% if hw.due_date %}{{ hw.due_date.strftime("%m/%d/%Y %H:%M:%S") }}{% endif %}'/>
        {% elif hw.due_date %}
          {{hw.due_date.strftime("%a, %b %d at %I:%M %p")}}
        {% endif %}
	{% if user.type == "admin" %}
	  <input type="submit" value="Update!"/>
	{% endif %}
      </td>
    </form>
  </tr>

  {% endfor %}

  {% if user.type == "admin" %}
  <form action="{{options.base_url}}/{{options.cgi}}/add_homework" method="POST">
  <tr>
    <td><input type="text" name="name"/></td>
    <td><input type="text" name="start_date" value="MM/DD/YYYY HH:MM:SS"/></td>
    <td><input type="text" name="due_date" value="MM/DD/YYYY HH:MM:SS"/> <input type="submit" value="Add Homework!"></td>
  </tr>
  </form>
  {% endif %}

  </tbody>
</table>

{% endblock %}

