{% extends "page.html" %}

{% block content %}
<h3>Online Homework Management System (OHMS)</h3>

<table class="table table-striped" id="homeworks">
  <thead>
    <th>Homework</th>
    <th>Start Date</th>
    <th>Due Date</th>
    <th>Peer Grading</th>
  </thead>
  <tbody>

  {% for hw in homeworks %}

  <tr>
    <td>
      {% if hw.start_date==None or hw.start_date < current_time %}
        <a href="hw?id={{hw.id}}">{{hw.name}}</a>
      {% else %}
        <p class="muted">{{hw.name}}</p>
      {% endif %}
    </td>
    <td>
      {% if hw.start_date %}
        {{hw.start_date.strftime("%a, %b %d at %I:%M %p")}}
      {% endif %}
    </td>
    <td>
      {% if hw.due_date %}
        {{hw.due_date.strftime("%a, %b %d at %I:%M %p")}}
      {% endif %}
    </td>
    <td>
      {% if peer_grading[loop.index0]==1 %}
        <a href="grade?id={{hw.id}}">Peer Grading</a>
      {% elif peer_grading[loop.index0]==0 %}
        You weren't assigned to peer grade this week.
      {% elif peer_grading[loop.index0]==-1 %}
	ERROR: please see course staff.
      {% endif %}
    </td>
  </tr>

  {% endfor %}

  </tbody>
</table>
{% endblock %}

