{% extends "page.html" %}

{% block content %}
<h3>Online Homework Management System (OHMS)</h3>

<p id="studentName" class="lead"></p>

<table class="table table-striped" id="homeworks">
  <thead>
    <th>Homework</th>
    <th>Due Date</th>
    <th>Peer Grading</th>
  </thead>
  <tbody>

  {% for hw in homeworks %}

  <tr>
    <td><a href="hw?id={{hw.id}}">{{hw.name}}</a></td>
    <td>{{hw.due_date}} PDT</td>
    <td>
      {% if hw.id in peer_grade %}
        <a href="grade?id={{hw.id}}">Peer Grading</a>
      {% endif %}
    </td>
  </tr>

  {% endfor %}

  </tbody>
</table>
{% endblock %}

