{% extends "page.html" %}

{% block content %}
<h3>Online Homework Management System (OHMS)</h3>

{% if to_do %}
<div class='alert alert-error'>
<p><strong>Attention!</strong> Peer feedback on the following 
assignments is now available:</p>
<ul>
  {% for homework, number in to_do.iteritems() %}
  <li>{{ number }} review(s) in <a href="hw?id={{ homework.id }}">{{ homework.name }}</a></li>
  {% endfor %}
</ul>
<p>To encourage you to look over the comments your peers have 
taken the time to write for you, we require that you 
respond to the peer reviews by rating them. Please do this 
as soon as possible.</p>
</div>
{% endif %}

<table class="table table-striped" id="homeworks">
  <thead>
    <th width="10%">Type</th>
    <th width="20%">Assignment</th>
    <th width="30%">Start Date</th>
    <th width="40%">Due Date</th>
  </thead>
  <tbody>

  {% for hw in homeworks %}

  <tr value="{{ hw.id }}"/>
      <td>{{ hw.category.name }}</td>
      <td>
	{% if (hw.start_date > current_time) %}
          <span class="muted">{{hw.name}}</span> 
	  {% if user.type=="admin" %}
	  (<a href="hw?id={{hw.id}}">Preview</a>)
	  {% endif %}
	{% elif (hw.questions|length > 0) %}
          <a href="hw?id={{hw.id}}">{{hw.name}}</a>
	{% else %}
	  {{hw.name}}
        {% endif %}
      </td>
      <td>
        {% if user.type == "admin" %}
          <input type="text" name="start_date" value='{% if hw.start_date %}{{ hw.start_date.strftime("%m/%d/%Y %H:%M:%S") }}{% endif %}'/>
        {% elif hw.start_date %}
          {{hw.start_date.strftime("%a, %b %d at %I:%M %p")}}
        {% endif %}
      </td>
      <td>
        {% if user.type == "admin" %}
          <input type="text" name="due_date" value='{% if hw.due_date %}{{ hw.due_date.strftime("%m/%d/%Y %H:%M:%S") }}{% endif %}'/>
        {% elif hw.due_date %}
          {{hw.due_date.strftime("%a, %b %d at %I:%M %p")}}
        {% endif %}
	{% if user.type == "admin" %}
	  <input type="button" class="update" value="Update!"/>
	{% endif %}
      </td>
  </tr>

  {% endfor %}

  {% if user.type == "admin" %}
  <tr id="add">
    <td></td>
    <td><input type="text" name="name"/></td>
    <td><input type="text" name="start_date" value="MM/DD/YYYY HH:MM:SS"/></td>
    <td><input type="text" name="due_date" value="MM/DD/YYYY HH:MM:SS"/> <input type="button" class="add" value="Add!"></td>
  </tr>
  {% endif %}

  </tbody>
</table>

{% endblock %}

{% block javascript %}
{% if user.type == "admin" %}
<script src="{{options.base_url}}/{{options.static}}/js/admin/list.js?V=1"></script>
{% endif %}

{% endblock %}
