{% extends "page.html" %}

{% block content %}
<h3>Online Homework Management System (OHMS)</h3>

<p id="studentName" class="lead"></p>

<table class="table table-striped">
  <thead>
    <th>Instructor</th>
    <th>Times</th>
    <th>Location</th>
  </thead>
  <tbody>
    <tr>
      <td>Prof. Guenther Walther</td>
      <td>M 10-11, TWTh 1-2</td>
      <td>Sequoia 135</td>
    </tr>
    <tr>
      <td>Lucas Janson</td>
      <td>Th 2:45-4:45</td>
      <td>Sequoia 229</td>
    </tr>
    <tr>
      <td>Snigdha Panigrahi</td>
      <td>TTh 12:45-1:45</td>
      <td>Sequoia 211</td>
    </tr>
  </tbody>
</table>

{% endblock %}

