{% extends "page.html" %}

{% block content %}
<h3>Teaching Staff</h3>

<p>Please address all e-mails to the staff mailing list: 
<a>stats60-aut1314-staff@lists.stanford.edu</a>.</p>

<table class="table table-striped">
  <thead>
    <th>Instructor</th>
    <th>Office Hours</th>
    <th>Location</th>
  </thead>
  <tbody>
    <tr>
      <td>Prof. Guenther Walther</td>
      <td>MTW 10-11, Th 1-2</td>
      <td>Sequoia 135</td>
    </tr>
    <tr>
      <td>Naftali Harris (Head TA)</td>
      <td>T 2:30-3:45</td>
      <td>Sequoia 207</td>
    </tr>
    <tr>
      <td>Dennis Sun (Study Admin)</td>
      <td>Th 10-11</td>
      <td>Sequoia 238</td>
    </tr>
    <tr>
      <td>Lucas Janson</td>
      <td>Th 2:45-4:45</td>
      <td>Sequoia 229</td>
    </tr>
    <tr>
      <td>Snigdha Panigrahi</td>
      <td>T 3:45-4:45, W 10:30-11:30</td>
      <td>Sequoia 211</td>
    </tr>
    <tr>
      <td>Robin Cheng</td>
      <td>Th 6:30-8:30</td>
      <td>Huang ...</td>
    </tr>
    <tr>
      <td>Renjie You</td>
      <td>Th 8:30-10:30</td>
      <td>Huang ...</td>
    </tr>
  </tbody>
</table>

{% endblock %}

