{% extends "page.html" %}

{% block content %}
<h3>Teaching Staff</h3>

<p id="studentName" class="lead"></p>

<table class="table table-striped">
  <thead>
    <th>Instructor</th>
    <th>Office Hours</th>
    <th>Location</th>
  </thead>
  <tbody>
    <tr>
      <td>Prof. Guenther Walther</td>
      <td>M 10-11, TWTh 1-2</td>
      <td>Sequoia 135</td>
    </tr>
    <tr>
      <td>Naftali Harris (Head TA)</td>
      <td>T 2:30-3:30</td>
      <td>Sequoia 241</td>
    </tr>
    <tr>
      <td>Dennis Sun (Study Admin)</td>
      <td>Th 10-11</td>
      <td>Sequoia 238</td>
    </tr>
    <tr>
      <td>Lucas Janson</td>
      <td>Th 2:45-4:45</td>
      <td>Sequoia 229</td>
    </tr>
    <tr>
      <td>Snigdha Panigrahi</td>
      <td>W 10:30-12:30</td>
      <td>Sequoia 211</td>
    </tr>
  </tbody>
</table>

{% endblock %}

