<table class="frame">
  <tr><td>
    <h4>Original Question</h4>
      {{ question.to_html(include_items=False)|safe }}
    <div class='alert alert-success'>
      {% for item in question.items %}
      {{ item.solution|safe }}
      {% endfor %}
    </div>
  </td></tr>

{% if peer_responses is defined %}
  <tr><td>
    <h4>Peer Assessment</h4>

    <p>Please review the following responses from your peers. Note 
that you are only eligible to assess responses if you answered the 
question yourself. Please provide detailed comments, even if the 
response is perfect. In the case of a perfect response, you should 
reiterate what the response does well.</p>
  </td></tr>

  {% for qr in peer_responses %}
  <tr><td>
    <table class="frame">
      <tr>
        <td class='span2'><strong>Response {{ loop.index }}</strong></td>
        <td class='response span8'>{{ qr }}</td>
      </tr>
      <tr>
        <td><strong>Score</strong></td>
        <td>
          <input type='text' class='item input-mini' itemtype='short-answer' disabled='disabled'/> 
	      out of {{ qr.question.points }} points
        </td>
      </tr>
      <tr>
        <td><strong>Comments</strong></td>
        <td>
	  <table class='item frame' itemtype='long-answer'>
	    <tr>
	      <td class='span8'><textarea id='long{{ qr.id }}' rows="4"></textarea></td>
	      <td class='response' style="display:none;"></td>
	    </tr>
	  </table>
        </td>
      </tr>
    </table>
  </td></tr>
  {% endfor %}
{% endif %}

{% if self_response is defined %}
  <tr><td>
    <h4>Self Reflection</h4>

    <p>Now, please score your own response. While this is mandatory, the comments here are primarily for yourself. Feel free to 
leave just a brief note if you feel you've mastered the concept; otherwise, you may want to jot down some 
concepts to review.</p>
  </td></tr>

  {% if self_response %}
  <tr><td>
    <table class="frame">
      <tr>
        <td class='span2'><strong>My Response</strong></td>
        <td class='response span8'>{{ self_response }}</td>
      </tr>
      <tr>
        <td><strong>Score</strong></td>
        <td>
          <input type='text' class='item input-mini' itemtype='short-answer' disabled='disabled'/> 
	      out of {{ self_response.question.points }} points
        </td>
      </tr>
      <tr class=>
        <td><strong>Comments</strong></td>
        <td>
	  <table class='item frame' itemtype='long-answer'>
	    <tr>
	      <td class='span8'><textarea id='long{{ self_response.id }}' rows="4"></textarea></td>
	      <td class='response' style="display:none;"></td>
	    </tr>
	  </table>
        </td>
      </tr>
    </table>
  </td></tr>
  {% else %}
  <tr><td>
      <i>You did not submit a response to this question. 
	You cannot earn the credit for the self-reflection component.</i>
  </td></tr>
  {% endif %}

</table>
{% endif %}
