{% extends "page.html" %}

{% block content %}
<h3>Homework Tips</h3>

<ul>
  <li>We've heard comments that the homework problems are not reflective of the quizzes. 
    When writing the quizzes, we match every single 
    quiz question to a homework question. The homeworks are similar in difficulty  
    to the quizzes, but they may feel easier because you can talk to 
    your friends, ask a TA for help, etc. This is why we encourage you to work on  
    homeworks by yourself, and to discuss with friends and attend office hours only after having 
    struggled with the problems on your own.
  </li>

  <li>
    If the 6 hour time limit is a problem for you, you may want to reassess 
    your perspective on homework. In every other class, there are of course no resubmissions, 
    so from that perspective, you should be aiming (and it certainly is doable) to get the problems 
    correct on the first try. The resubmissions are a bonus.
  </li>

  <li>
    Given that homeworks count for very little of the overall grade, it is neither grade-optimal nor time-optimal 
to treat the homeworks as anything but a learning 
experience. You will have to learn the material at some point, so you may as 
well do so while actually doing the homework.
  </li>

  <li>
    Therefore, don't stress about waking up at 6 a.m. just to earn the last 2 points 
on a question, or about that typo you made right before the submission deadline. If you 
understand the material, then that's enough, regardless of whether or not you got a 100% on the homework.
  </li>

  <li>
    Conversely, earning 100% on a homework does not necessarily mean you 
    understand the material, especially if you needed substantial outside help. 
    You need to not only memorize the steps of each problem, but also understand the reasoning behind 
    each step to be able to apply that reasoning to similar (but different) problems on the quiz. 
  </li>

</ul>


<h3>Quiz Tips</h3>

<ul>

  <li>You don't need to solve every problem to earn an A. However, the quizzes are designed 
    so that you should have no problem doing at least 70% of the quiz if you fully understood the 
    homework. (Yes, even Quiz 3.)</li>

  <li>When you start the quiz, spend two minutes looking over the problems. 
    Choose 4 or 5 problems to focus on, and ignore the rest. Come back 
    to them at the end if you have time.</li>

  <li>As you may have noticed, we only award credit for real progress towards the final 
    answer. It's unlikely that you'll earn any credit by attempting a problem that
    you don't know how to do. Focus your energy on doing the problems that you do know how 
    to do.
  </li>

  <li>Because the quizzes are challenging, you don't have to sweat the little details, like 
    calculations. 
    You are likely to earn close to full credit even with calculation errors. However, you 
    will earn very little credit for a conceptual error or setting up a problem incorrectly.
  </li>

</ul>

{% endblock %}
