{% extends "page.html" %}

{% block content %}
<h3>Homework Tips</h3>

<ul>
  <li>We've heard comments that the homework problems are not reflective of the quizzes. 
    When writing the quizzes, we match every single 
    quiz question to a homework question. The homeworks are similar in difficulty  
    to the quizzes, but they may feel easier because you can talk to 
    your friends, ask a TA for help, etc. This is why we encourage you to work on  
    homeworks by yourself, and to discuss with friends and attend office hours only after having 
    struggled with the problems on your own.
  </li>

  <li>
    If the 6 hour time limit is a problem for you, you may want to rethink 
    your perspective towards homework. Homework counts for next to nothing in this 
    class (each homework is worth 1.1% of your grade; by contrast, each quiz is 
    worth 8% of your grade.). It exists to prepare you for the quizzes and final. 
    Therefore, don't stress about getting 100% on the homework. If you make 
    your two submissions and earn 80%, then you will be fine as long as you learned 
    the material. The additional submissions are just a bonus to help you check 
    your understanding.
  </li>

</ul>


<h3>Quiz Tips</h3>

<ul>

  <li>You don't need to solve every problem to earn an A. However, the quizzes are designed 
    so that you should have no problem doing at least 70% of the quiz if you understood the 
    homework.</li>

  <li>When you start the quiz, spend two minutes reading the problems. 
    Choose 4 or 5 problems to focus on, and ignore the rest. Only come back 
    to the remaining problems at the end if you have time.</li>

  <li>As you may have noticed, we are not very generous with partial credit. We only award 
    credit for progress made towards the final answer. 
    Rather than scribbling something down for every problem, spend 
    time doing one problem perfectly. This will likely earn you more credit.</li>

</ul>

{% endblock %}
